{{template "base" .}}

{{define "content"}}
<!-- Main container starts here -->
<div class="container">
  <div class="row">
    <div class="col">
      <img src="/static/images/generals-quarters.png" class="room-image img-fluid img-thumbnail d-block mx-auto" alt="room image">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-4">General's Quarters</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. 
            Quisque faucibus ex sapien vitae pellentesque sem placerat. 
            In id cursus mi pretium tellus duis convallis. 
            Tempus leo eu aenean sed diam urna tempor. 
            Pulvinar vivamus fringilla lacus nec metus bibendum egestas. 
            Iaculis massa nisl malesuada lacinia integer nunc posuere. 
            Ut hendrerit semper vel class aptent taciti sociosqu. 
            Ad litora torquent per conubia nostra inceptos himenaeos.</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a id="check-availability-button" href="#" class="btn btn-success">Check Availability</a>
    </div>
  </div>
</div>
<!-- Main container ends here -->
{{end}}

{{define "js"}}
<script>
  document.querySelector("#check-availability-button").addEventListener("click", function(){
    let html = `
      <form id="check-availability-form" method="post" action="" class="needs-validation" novalidate>
        <div class="row" id="reservation-dates-modal">
          <div class="col">
            <input disabled class="form-control" id="start" type="text" name="start" placeholder="Arrival" required>
          </div>
          <div class="col">
            <input disabled class="form-control" id="end" type="text" name="end" placeholder="Departure" required>
          </div>
        </div>
      </form>
    `
    attention.custom({msg: html, title: "Select dates"});
  })
</script>
{{end}}
